@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

main.container{
    display: flex;
}

.menu-container{
    width: 20vw;
    height: 100vh;
    background-color: rgb(39, 39, 39);
    border-right: 2px solid #111;
    padding: 1rem 2rem 0.5rem;
    overflow-y: auto;
}

.title{
    text-align: left;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 0.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    // color: rgb(237, 164, 28);
    color: rgb(19, 150, 19);
}

.location{
    text-align: center;
    font-size: x-large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0.6rem 0;
}

.description{
    text-align: left;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.map-container{
    height: 100vh;
    width: 80vw;
}

.help{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.236);
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: medium;
    z-index: 5;
}

.popup{
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        max-height: 100px;
        min-width: 170px;
        max-width: 170px;
        margin: 0;
        padding: 0;

        span{
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(50%, 50%);
            margin-bottom: 10%;
            opacity: 0.7;
        }
    }
    #row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        #col{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 3px;
            padding: 0 3px;
            // border: 1px solid pink;
            height: 75px;
        }
    }

    #average,
    #number{
        color: orange;
        font-size: 20px;
        opacity: 1;
        font-weight: 600;
    }

    #desc{
        margin-top: 5px;
        color: #ddd;
        font-size: 12px;
        opacity: 1;
    }
}

.legend{
    .legend-header{
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .more-info-toggle{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .more-info{
        background-color: rgb(21, 21, 21);
        padding: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-weight: 300;
    }
    .circle{
        border: 3px solid #ddd;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .chart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #aaa;
        margin-top: 1rem;
        border-bottom: 1px solid #aaa;
        padding: 6px 0 0 0;
    }
    .chart-title{
        text-align: center;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: medium;
        letter-spacing: 1.5px;
    }
    .small-bar-chart {
        display: table;
        table-layout: fixed;
        justify-content: center;
        width: 100%;
        max-width: 200px;
        max-height: 90px;
        margin: 0px 10px 0px;
        // border: 1px solid #ddd;
      
       .small-bar-chart-bar-container {
            display: table-cell;
            vertical-align: bottom;
            margin-bottom: 4px;
            height: 100px;
            width: 55px;

            #small-bar-chart-bar- {
                &1{
                    background: rgba(47, 128, 33, 0.908);
                    filter: brightness(70%);
                }
                &2{
                    background: rgba(75, 155, 60, 0.908);
                    filter: brightness(70%);
                }
                &3{
                    background: rgba(107, 201, 90, 0.908);
                    filter: brightness(70%);
                }
                &4{
                    background: rgba(137, 245, 118, 0.908);
                    filter: brightness(70%);
                }
            }
            .small-bar-chart-bar {
                margin: 0 2px 2px;
                display: block;
                background: #484849;
                border-radius: 8px;
                padding-bottom: 6px;
                transition: height 0.4s ease-in-out;
            }
        }
    }

    .bar-chart-label{
        // border: 1px solid #ddd;
        display: flex;
        margin: 10px auto;
        padding: 0 5px 0 7px;
        max-width: 200px;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .metric-left{
            font-size: 16px;
            font-family: 'Poppins';
            flex-grow: 1;
            flex-basis: 0;
        }
        .metric-right{
            font-size: 16px;
            font-family: 'Poppins';
            text-align: right;
            flex-grow: 1;
            flex-basis: 0;
        }
        .label-text{
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins';
            font-weight: 300;
        }
    }
}

.filters-title{
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: medium;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.layerToggles{
    list-style: none;
    margin-top: 20px;

    .toggleItem{
        background: #777;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: larger;
        padding: 5px 10px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;

        &:hover{
            cursor: pointer;
            background-color: rgb(10, 106, 10);
        }

        &.active{
            cursor: pointer;
            background-color: rgb(25, 138, 25);

            &:hover{
                background-color: rgb(30, 95, 30);
            }
        }
    }
}

.zoomOut{
    position: absolute;
    left: 20vw;
    top: 4rem;
    margin-left: 10px;
    background-color: rgba(17, 17, 17, 0.236);
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: larger;
    z-index: 5;
    border: 1px solid #aaa;
    border-radius: 5px;
    visibility: hidden;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.zoomOut:hover{
    background-color: #555;
    cursor: pointer;
}